# Ignorar target
/Compilador/target/

*.war

# Java compiled classes
*.class

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log

# Maven generated
dependency-reduced-pom.xml
